# Telegram Uer Credentials
TELEGRAM_USER_PHONE=your_phone_number

# Download Configuration
DOWNLOAD_BASE_PATH=your_download_path


CHANNEL_URL=your_channel_url

#VALUE must be before OR after
BEFORE_AFTER=after

# Filters
FILE_NAME_FILTER=your_file_name_filter
FROM_DATE=your_from_date
TO_DATE=your_to_date

# Download Configuration
MAX_CONCURRENT_DOWNLOADS=3
MIN_DELAY=2.0
MAX_DELAY=5.0

# Telegram API Credentials
API_ID=your_api_id
API_HASH=your_api_hash

# Telegram Bot Token
BOT_TOKEN=your_bot_token

# machine-user 1000 usually
# check in linux with id command
UID=your_user_id
GID=your_group_id
